/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.with-margin {
  margin: 10px;
}

.with-border {
  padding: 10px;
  border: 1px solid black;
}
.flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
